html, body {
	background-color:#F8F8F8;
	color:#333333;
	font-family: 'Space Mono', monospace;
	font-size:15px;
	height:100%;
	text-align:center;
}

#logo {
	display:inline-block;
	padding: 16px 34px;
	text-decoration: none;
	font-size:1.2em;
	color:#000000;
	text-align:left;
	float:left;
	left:0;
	top:0;
}

#logo:hover {
	color:#888888;
}

nav {
	width:100%;
	position:fixed;
}

nav ul {
	list-style-type:none;
	font-size:1.2em;
	padding: 16px 24px;
	margin:0;
	float:right;
	right:0;
	top:0;
}

.nav-link {
	display: block;
	color:#000000;
	text-align:right;
	text-decoration:none;
}

.nav-link span {
	visibility:hidden;
}

.nav-link:hover {
	color:#888888;
}
		
.nav-link.active span {
	visibility:visible;
}

#mobile-break {
	display:none;
}

hr {
	height: 1px;
    width: 95%;
    margin-top:2px auto;
    border:0;
    background-color:#888888;
}

h1 {
 font-size:3em;
}

#title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:auto;
	padding:0 150px;
	height:auto;
	min-height:50%;
	overflow:auto;
	background-color:#F0F0F0;
}

#content {
	padding:0 150px;
	width:auto;
	height:auto;
	min-height:50%;
	overflow:auto;
}

footer {
	background-color:#F0F0F0;
	padding:5px 0;
}

footer a {
	text-decoration:none;
	color:#333333;
}

@media only screen and (max-width: 600px) {
	#logo {
		text-align:center;
		float:none;
		left:auto;
		top:auto;
		font-size:1.8em;
		font-weight:bold;
		padding: 5px 0;
	}

	br {
		display:none;
	}

	nav {
		position:static;
	}

	nav ul {
		float:none;
		right:auto;
		top:auto;
		font-weight:bold;
		padding: 5px 0 5px 40px;
	}

	nav ul li {
		display:inline-block;
	}

	.nav-link {
		text-align:center;
	}

	#mobile-break {
		display:block;
	}

	#title {
		padding:0 10px;
	}

	#content {
		padding:0 10px;
	}
} 